<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add Category</title>
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    {% load static %}
    <style>
        .form-container {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
        }
        .form-content {
            width: 50%;
        }
    </style>
</head>
<body>
    <div class="form-container">
        <div class="form-content">
            <h1>Add New Category</h1>
            <form method="POST">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn btn-primary">Submit</button>
                <a href="{% url 'sport_events' user.id %}" class="btn btn-secondary">Cancel</a>
            </form>
        </div>
    </div>
</body>
</html>