<html>
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    {% load static %}
<style>
    body{
        display: flex;
        justify-content: center;
        margin: 0;
    }
    .dashboard {
        display: flex;
        width: 100%;
        height: 100vh;
        margin: auto;
        background: grey;
    }
    .sidebar {
        width: 25%;
        border-right: 1px solid black;
        padding: 15px;
    }
    .content {
        margin-top: 30px;
        width: 75%;
        padding: 15px;
        height: 90vh;
        overflow-y: auto;
    }
    .card {
        margin-bottom: 20px;
        border: solid;
        border-radius: 15px;
        padding: 15px;
    }
    .card img {
        width: 100%;
        height: auto;
    }
    .comment-form {
        margin-top: 10px;
    }
    .comment-section {
        max-height: 200px;
        overflow-y: auto;
    }
    .row {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .centered-row {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .dynamic-row {
        display: inline-flex;
        background-color: #afafaf;
        border-radius: 20px;
        align-items: center;
    }
    .search-bar {
        position: absolute;
        top: 0;
        right: 0;
        max-height: 400px;
        z-index: 1000;
    }
</style>

<body>
<script>
    window.onload = function() {
    document.getElementById('user-search').addEventListener('input', function() {
        let query = this.value;
        let xhr = new XMLHttpRequest();
        xhr.open('GET', '/search_users?query=' + query, true);
        xhr.onload = function() {
            if (this.status == 200) {
                let users = JSON.parse(this.responseText);
                let resultsDiv = document.getElementById('search-results');
                let staticUrl = document.getElementById('static-url').getAttribute('data-url');
                resultsDiv.innerHTML = '';
                for (let i = 0; i < users.length; i++) {
                    let button = document.createElement('button');
                    button.style.fontSize = '20px';
                    button.textContent = users[i].username;
                    let img = document.createElement('img');
                    img.src = staticUrl + users[i].username + '.jpg';
                    img.style.border = 'solid';
                    img.style.borderRadius = '50%';
                    img.style.width = '50px';
                    img.style.height = '50px';
                    img.style.marginRight = '10px';
                    button.appendChild(img);
                    // Set the onclick event to redirect to the user_detail view
                    button.onclick = function() {
                        window.location.href = '/user_detail/' + {{ user.id }} + '/' + users[i].id;
                    };
                    resultsDiv.appendChild(button);
                    resultsDiv.appendChild(document.createElement('br'));
                }
            }
        };
        xhr.send();
    });
};
</script>
    <div class="dashboard">
        <div id="static-url" data-url="{% static '' %}" style="display: none;"></div>
        <div class="search-bar">
            <input type="text" id="user-search" placeholder="Search users...">
            <div id="search-results"></div>
        </div>
        <div class="sidebar">
            <div class="card" style="display: flex; align-items: center; justify-content: space-between;">
                <img src="{% static user.username %}.jpg" alt="Profile Picture" style="width: 80px; height: 80px; border-radius: 50%;">
                <h1 style="color: black">{{ user.username }}</h1>
            </div>
            <div style="position: absolute; bottom: 0; left: 0; display: flex; flex-direction: column;">
                <a href="{% url 'sport_events' user.id %}" style="margin: 10px;"><img src="{% static 'schedule.png' %}" alt="Schedule" style="width: 50px; height: 50px;"/></a>
                <a href="{% url 'follower_list' user.id %}" style="margin: 10px;"><img src="{% static 'network.png' %}" alt="Followers" style="width: 50px; height: 50px;"/></a>
                <a href="{% url 'notifications' user.id %}" style="margin: 10px;"><img src="{% static 'notification.png' %}" alt="Notifications" style="width: 50px; height: 50px;"/></a>
                <a href="{% url 'add_post' user.id %}" style="margin: 10px;"><img src="{% static 'add.png' %}" alt="Add post" style="width: 50px; height: 50px;"/></a>
                <a href="{% url 'settings' user.id %}" style="margin: 10px"><img src="{% static 'setting.png' %}" alt="Settings" style="width: 50px; height: 50px;"></a>
                <a href="{% url 'index' %}" style="margin: 20px"><img src="{% static 'logout.png' %}" alt="Logout" style="width: 50px; height: 50px;"></a>
            </div>
            <!-- List of recommended users to follow will go here -->
            <div class="container">
               {% for not_following_user in not_following_users %}
                    {%  if not_following_user.id not in following_users %}
                        <div class="card">
                            <div class="row centered-row">
                                <div class="col-auto">
                                    <a href="{% url 'user_detail' user.id not_following_user.id %}">
                                        <img src="{% static not_following_user.username %}.jpg" alt="Profile Picture" style="width: 90px; height: 90px; border-radius: 50%;">
                                    </a>
                                </div>
                                <div class="col-auto">
                                    <h1>{{ not_following_user.username }}</h1>
                                </div>
                                <div class="col-auto">
                                    <a href="{% url 'follow_user' user.id not_following_user.id %}">
                                        <img src="{% static 'follow.png' %}" alt="Follow icon" style="width: 90px; height: 90px">
                                    </a>
                                </div>
                            </div>
                        </div>
                    {% endif %}
               {% endfor %}
            </div>
        </div>
        <div class="content">
            {% for post in posts %}
                <div class="card">
                    <div class="row dynamic-row" >
                        <div class="row dynamic-row">
                            <div class="col-auto">
                                <img src="{% static post.user.username %}.jpg" alt="Profile Picture" style="width: 50px; height: 50px; border-radius: 50%;">
                            </div>
                            <div class="col-auto">
                                <h1>{{ post.user.username }}</h1>
                            </div>
                            <div class="col-auto">
                                {% if user.id == post.user.id %}
                                    <a href="{% url 'delete_post' post.id %}">
                                        <img src="{% static 'remove.png' %}" alt="Delete icon" style="width: 45px; height: 45px">
                                    </a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    <h2>{{ post.title }}</h2>
                    <p>{{ post.body }}</p>
                    <h3>Comments</h3>
                    <div class="comment-section">
                        {% for comment in post.comment_set.all %}
                            <div class="row" style="display: flex; flex-direction: row; align-items: center; align-content: center">
                                <div class="col-auto">
{#                                    <p>{{ comment.user.username }}: {{ comment.body }}</p>#}
                                    <img src="{% static comment.user.username %}.jpg" alt="Profile Picture" style="width: 30px; height: 30px; border-radius: 50%;">
                                </div>
                                <div class="col-auto">
                                    <p style="font-size: 2em">{{ comment.body }}</p>
                                </div>
                                <div class="col-auto">
                                    {% if user.id == comment.user.id %}
                                    <a href="{% url 'delete_comment' comment.id %}">
                                        <img src="{% static 'remove.png' %}" alt="Delete icon" style="width: 30px; height: 30px;">
                                    </a>
                                {% endif %}
                                </div>
                                
                            </div>
                        {% endfor %}
                    </div>
                    <form class="comment-form" action="{% url 'add_comment' post.id user.id %}" method="POST">
                        {% csrf_token %}
                        <div style="display: flex; align-items: center">
                            <input class="form-control" type="text" name="body" placeholder="Write a comment..." style="flex-grow: 1;">
                            <button type="submit" style="background: none; border: none;">
                                <img src="{% static 'send-message.png' %}" alt="Submit" style="width: 40px; height: 40px;">
                            </button>
                        </div>
                    </form>
                </div>
            {% endfor %}
        </div>
    </div>
</body>
</html>




